{% extends "html/fixed/standard.html" %}

{% set pageName="Post Material" %}

{% block additionalStylesheetsBlock %}
<link rel="stylesheet" href="/static/css/{{ model['userSettings']['layout'] }}/material.css"/>
{% endblock %}

{% block additionalHeadScriptsBlock %}
<script type="text/javascript" src="/static/js/lib/jquery/jquery.dataTables.js"></script>
<script type="text/javascript" src="/static/js/app/post/material.js"></script>
{% endblock %}

{% block contentSectionsBlock %}

<section>
    <table id="itemsTable">
        <thead>
            <tr><th>Item Id</th><th>Description</th><th>Category</th><th>Posted On</th></tr>
        </thead>
        <tbody>
            <tr><td>1</td><td>Painted siding</td><td>Aluminum</td><td>2011-02-01</td></tr>
            <tr><td>2</td><td>Post-consumer aluminum can scrap</td><td>Aluminum</td><td>2011-02-04</td></tr>
            <tr><td>3</td><td>new zinc die cast scrap</td><td>Zinc</td><td>2011-03-20</td></tr>
            <tr><td>4</td><td>abc</td><td>xyz</td><td>2011-03-20</td></tr>
            <tr><td>5</td><td>abc</td><td>xyz</td><td>2011-03-20</td></tr>
            <tr><td>6</td><td>abc</td><td>xyz</td><td>2011-03-20</td></tr>
            <tr><td>7</td><td>abc</td><td>xyz</td><td>2011-03-20</td></tr>
            <tr><td>8</td><td>abc</td><td>xyz</td><td>2011-03-20</td></tr>
            <tr><td>9</td><td>abc</td><td>xyz</td><td>2011-03-20</td></tr>
            <tr><td>10</td><td>abc</td><td>xyz</td><td>2011-03-20</td></tr>
            <tr><td>11</td><td>abc</td><td>xyz</td><td>2011-03-20</td></tr>
            <tr><td>12</td><td>abc</td><td>xyz</td><td>2011-03-20</td></tr>
        </tbody>
    </table>
    
    <div class="buttonsContainer">
        <button>Create New</button>
        <button>Copy Selected</button>
        <button>Edit Selected</button>
    </div>
</section>

{% endblock contentSectionsBlock %}