{% extends "html/fixed/standard.html" %}

{% set pageName="Post Material" %}
{% set includeJQueryUI=True %}
{% set includeDataTables=True %}

{% block additionalStylesheetsBlock %}
<link rel="stylesheet" href="/static/css/layout/{{ model['userSettings']['layout'] }}/material.css"/>
{% endblock %}

{% block additionalHeadScriptsBlock %}
<script type="text/javascript" src="/static/js/lib/jquery/jquery.dataTables.js"></script>
<script type="text/javascript" src="/static/js/app/post/material.js"></script>
{% endblock %}

{% block contentSectionsBlock %}

<section>
    
    <p>
    You can create a new item from scratch, or you can base it on an item that
    already exists.  Or you can edit an existing item.
    </p>
    
    <table id="itemsTable" class="display">
        <thead>
            <tr><th>Item Id</th><th>Description</th><th>Category</th><th>Posted On</th></tr>
        </thead>
        <tbody>
        {% for i in model['itemData']['userItemsAll'] %}
            <tr><td>{{ i['item_id'] }}</td><td>{{ i['title'] }}</td><td>No category</td><td>No posted date</td></tr>
        {% endfor %}
        </tbody>
    </table>
    
    <form id="optionForm" method="get">
        <div class="buttonsContainer">
            <button id="createNew">Create New</button>
            <button id="copySelected">Copy Selected</button>
            <button id="editSelected">Edit Selected</button>
        </div>
    </form>
</section>

{% endblock contentSectionsBlock %}