{% extends "html/fixed/base.html" %}

{% set pageName="Login" %}

{% block headStylesheetsBlock %}
<link rel="stylesheet" type="text/css" href="/static/css/layout/{{ model['userSettings']['layout'] }}/login.css" />
{% endblock %}

{% block headScriptsBlock %}
<script type="text/javascript" src="{{ model['siteData']['jQueryUrl'] }}"></script>
<script type="text/javascript" src="/dynamic/js/app.js"></script>
<script type="text/javascript" src="/static/js/app/classes.js"></script>
<script type="text/javascript" src="/static/js/app/login.js"></script>
{% endblock %}

{% block contentsBlock %}
<form id="loginForm" action="/account/login/redirect" method="get">
    <h1>Please select one of the following methods to log in:</h1>
    <ul>
        {% for i in model['authenticationProviders'] %}
        <li id="{{ i['id'] }}">{{ i['text'] }}</li>
        {% endfor %}
    </ul>
</form>
{% endblock %}