/**
 * base.css
 */

body
{
    font-family: Arial,Helvetica,"Liberation Sans",FreeSans,sans-serif;
}

a
{
    text-decoration: none;
}

hr
{
    margin: 0.5em 0px;
}

#topBar p,
#topBar a
{
    font-size: 88%;
}

#topBar .content
{
    /*position: relative;*/
    background-color: black;
    
    width: 800px;
    height: 36px;
    margin: 6px auto;
    
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

#topBar > .content > header
{
    float: left;
    padding: 9px;
    margin: 0px 9px;
}

#searchForm
{
    margin-top: 2px;
    float: left;
}

#mainNav
{
    float: left;
}

#mainNav > div
{
    float: left;
    width: 96px;
}

#sessionContainer
{
    float: right;
    width: 90px;
}

#mainNav > div,
#sessionContainer
{
    margin: 3px;
}

#mainNav .dropDownContainer > p,
#nameContainer > p,
.dropDown
{
    padding: 7px;
    
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#mainNav .dropDownContainer > p
{
    text-align: center;
}

#nameContainer
{
    text-align: right;
}

#mainNav .dropDownContainer.open > p,
#sessionContainer.dropDownContainer.open #nameContainer > p
{
    background-color: #FFA526;
    text-shadow: 1px 1px #222;
}

.dropDownContainer > .dropDown
{
    background-color: #2690FF;
}

.dropDownContainer.open > .dropDown a
{
    text-shadow: 1px 1px #555;
}

#mainNav .dropDown
{
    float: left;
}

#topBar .content header > h1 > a,
#mainNav p,
#sessionContainer > h1 > a,
.dropDown a,
#nameContainer .userName
{
    color: #F5E8E6;
    text-shadow: 1px 1px #888;
}

#searchForm input
{
    border: 1px solid black;
    padding: 6px 27px 6px 6px;
    width: 218px;
    height: 17px;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.dropDownContainer
{
    cursor: pointer;
}

#topBar > .content .dropDown
{
    margin-top: 13px;
}

#sessionContainer nav
{
    text-align: left;
}

.dropDown a
{
    display: block;
    padding: 6px;
    font-size: 80%;
    
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.dropDown a:hover
{
    background-color: #ACACAC;
}

#sessionContainer > h1 > a
{
    display: block;
    text-align: right;
}