/*!
 * base.css
 */

body
{
    font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
    font-size: 16pt;
    line-height: 1.5em;
}

#container
{
    width: 960px;
    margin: 6px auto;
    border: 1px solid #CCC;
}

header
{
    position: relative;
    padding: 1px 1px 2px 1px;
    background-color: #BBB;
    font-size: 80%;
}

header > h1,
header > form,
.headingContainer
{
    display: inline-block;
    margin-left: 0.5em;
    padding: 2px;
}

.headingContainer
{
    position: relative;
    width: 5em;
}

header > h1,
.headingContainer > h1,
.headingContainer > h1 > a,
.headingContainer nav > a,
#nameContainer p
{
    color: #FFF;
}

.headingContainer
{
    cursor: pointer;
}

.headingContainer h1
{
    text-align: center;
}

.headingContainer nav
{
    position: absolute;
    top: 30px;
    margin-top: 8px;
    padding: 6px;
    border: 1px solid black;
    background-color: #CCC;
    font-size: 80%;
    min-width: 100px;
    z-index: 1;
}

.headingContainer nav > a
{
    display: block;
    margin: 0.2em;
    padding: 0 0.5em;
    text-decoration: none;
}

.headingContainer nav > a:hover
{
    background-color: #AAA;
}

.headingContainer.open h1,
.headingContainer.open #nameContainer,
#homeLinkContainer h1:hover,
#sessionContainer > h1:hover
{
    background-color: #CCC;
}

header > h1,
.headingContainer,
#searchForm input
{
    vertical-align: top;
}

#sessionContainer
{
    position: absolute;
    top: 0;
    right: 0;
    width: 8em;
    text-align: right;
}

#sessionContainer > h1
{
    text-align: right;
}

#sessionContainer nav
{
    right: 2px;
}

#sessionContainer > h1,
#sessionContainer .userName
{
    padding-right: 0.25em;
}

#searchForm
{
    padding-top: 1px;
}

#searchForm input
{
    padding: 0.5em;
    width: 15em;
    border: 1px solid #AAA;
    
    font-size: 80%;
    
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.headingContainer > h1 > a
{
    text-decoration: none;
}

#mainContentContainer
{
    font-size: 60%;
}

hr
{
    margin: 0.5em 0;
    color: #AAA;
    border-style: solid;
    border-width: 1px;
}