{% extends 'html/default/standard.html' %}

{% set pageName="Credits" %}

{% block contentSectionsBlock %}

<section>

    <p>
    This site uses various resources and libraries made freely available by
    their authors, to whom we owe many thanks.  All copyright information is
    included in full.
    </p>
    
    <!--
    <ul>
    <li>
    <p>Mark James</p>
    <a href="http://www.famfamfam.com/lab/icons/silk/">Silk icon set 1.3</a>
    </li>
    </ul>
    -->

</section>
{% endblock contentSectionsBlock %}