
#postItemFormContainer
{
    padding: 0 18px;
    margin: 12px 0;
}

#postItemForm
{
    width: 600px;
}

#warningContainer
{
    width: 600px;
    margin: 0 auto;
    padding: 12px;
    
    background-color: #CCC;
    
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

#warningContainer h1
{
    margin-bottom: 6px;
}

label
{
    display: inline-block;
    width: 120px;
}

input.niceInput
{
    border: 1px solid #CCC;
    padding: 6px;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#shortDescription
{
    width: 320px;
}

.formRow
{
    margin-bottom: 6px;
}

#locationRow
{
    position: relative;
}

#locationRow label
{
    width: 150px;
}

#locationRow input
{
    width: 280px;
}

#toggleMap
{
    font-size: 80%;
    display: block;
    cursor: pointer;
    margin-top: 3px;
    margin-left: 162px;
}