{% extends "html/default/base.html" %}

{% block titleBlock %}
<title>login - {{ model['siteData']['siteName'] }}</title>
{% endblock titleBlock %}

{% block headStylesheetsBlock %}
<link rel="stylesheet" type="text/css" href="/static/css/{{ model['siteData']['html5ResetFilename'] }}" />
<link rel="stylesheet" type="text/css" href="/static/css/{{ model['userSettings']['themeName'] }}/login.css" />
{% endblock %}

{% block headScriptsBlock %}
<script type="text/javascript" src="{{ model['siteData']['jQueryUrl'] }}"></script>
<script type="text/javascript" src="/dynamic/js/app.js"></script>
<script type="text/javascript" src="/static/js/app/classes.js"></script>
<script type="text/javascript" src="/static/js/app/login.js"></script>
{% endblock %}

{% block contentsBlock %}
<form id="loginForm" action="/account/login/redirect" method="get">
    <h1>Please select one of the following methods to log in:</h1>
    <ul>
        <li id="google">Google</li>
        <li id="yahoo">Yahoo!</li>
        <li id="twitter">Twitter</li>
    </ul>
</form>
{% endblock %}