{% extends 'html/fixed/standard.html' %}

{% set pageName="Credits" %}

{% block contentSectionsBlock %}

<section>

    <p>
    This site uses various resources and libraries made freely available by
    their authors, to whom we owe many thanks.  All copyright information is
    included in full.
    </p>
    
    <ul id="#creditsList">
        {% for i in model['credits'] %}
        <li>
            {% if i['productUrl'] %}
            <p><a href="{{ i['productUrl'] }}">{{ i['product'] }}</a></p>
            {% else %}
            <p>{{ i['product'] }}</p>
            {% endif %}
        
            {% if i['authorUrl'] %}
            <p><a href="{{ i['authorUrl'] }}">{{ i['author'] }}</a></p>
            {% else %}
            <p>{{ i['author'] }}</p>
            {% endif %}
        
            {{ i['additionalMarkup'] }}
        </li>
        {% endfor %}
    </ul>

</section>
{% endblock contentSectionsBlock %}