[appSettings]
siteName: 'un_silo'
siteHostname: 'kestava.jakewan.com'
jinja.search_path: '/home/jacob/Documents/git-repos/kestava/webapp/src/templates'
html5ResetFilename: 'html5reset-1.6.1.css'
external_socket_port: 80
external_socket_port_ssl: 443
openid.datastore_directory: '/var/kestava-openid-filestore'
wurfl_service.host: '127.0.0.1'
wurfl_service.port: 48090

;'DEBUG'|'INFO'|'WARNING'|'ERROR'|'CRITICAL'
logging.error_log.level: 'DEBUG'
        
;Database settings
main_db.name: 'kestava'
main_db.role: 'kestava'

[global]
server.socket_port: 48080

[/]
tools.sessions.storage_path: '/var/kestava-session-data/webapp'
