config = {
    # LAN IP address, assuming the site is behind a proxy and/or NAT router
    #'socket_host': 'Replace me!',
    
    # Port (use an integer here, not a string)
    #'socket_port': 'Replace me!',
    
    'access_log_path': '/var/log/kestava-webapp/access.log',
    'access_log_when': 'M',
    'access_log_interval': 1,
    'access_log_backups': 5,
    
    'error_log_path': '/var/log/kestava-webapp/error.log',
    'error_log_when': 'M',
    'error_log_interval': 1,
    'error_log_backups': 5,
    
    'session_storage_path': '/var/kestava-session-data',
    'session_cookie_name': 'KESTAVA-SESSION-ID',
    'session_timeout': 480,
    
    # available default environments: "staging", "production", "embedded",
    # "test_suite" (see _cpconfig.environments for their predefined settings).
    # Leave undefined to accept settings useful in development
    #'environment': 'production'
    
    'appSettings': {
        'siteName': 'Kestava (Dev)',
        'siteHostname': 'kestava.jakewan.com',
        'openidDataDir': '/var/kestava-openid-filestore',
        'html5ResetFilename': 'html5reset-1.6.1.css',
        'timelineServerHostname': 'kestava-timeline.jakewan.com',
        
        # Database settings:
        'mainDb': 'kestava',
        'mainDbUser': 'kestava'
    }
}