{% extends "html/fixed/standard.html" %}

{% set pageName=[errorTitle,'Error']|join(' - ') %}

{% block additionalStylesheetsBlock %}
<link rel="stylesheet" type="text/css" href="/static/css/layout/{{ model['userSettings']['layout'] }}/error.css" />
<link rel="stylesheet" href="{{ "/static/css/theme/%s/error.css"|format(model['userSettings']['jQueryUiTheme']) }}"/>
{% endblock %}

{% block contentSectionsBlock %}
<section class="mainMessageSection">
    <div class="inside">
        <h1>{{ errorTitle }}</h1>
        <div id="errorDesc">
        {% block errorDescription %}{% endblock %}
        </div>
    </div>
</section>
{% endblock %}
