/*!
 * layout/fixed/error.css
 */

section .inside
{
    position: relative;
    width: 70%;
    margin: 0px auto;
    padding: 12px;
    border-width: 1px;
    border-style: solid;
    
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

