/*!
 * layout/fixed/error.css
 */

section .inside
{
    position: relative;
    padding: 6px;
}

.sectionBg
{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
