/**
 * login.css
 */

#loginForm h1
{
    font-weight: normal;
}

#loginForm ul
{
    list-style-type: none;
}

#loginForm li
{
    display: inline-block;
    width: 80px;
    margin: 12px 12px 0px 0px;
    padding: 6px;
    text-align: center;
    cursor: pointer;
    
    border: 1px solid gray;
    
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}